body {
  background-image: url("bgi.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Inter", system-ui, sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #2f2f2f;
  animation: fadeIn 2s;
  height: 100svh;
}

.header-container {
  display: flex;
  justify-content: center;
  user-select: none;
  height: 300px;
}

.svg-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 10px;
}

.main-contact-container {
  max-width: 900px;
  padding: 1.5rem;
  margin: 0 auto;
  user-select: none;
}

.nav-bar {
  display: flex;
  justify-content: end;
  gap: 20px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 30px;
  user-select: none;
}

.nav-header {
  cursor: pointer;
}
.nav-header:hover {
  animation: hover 2s infinite alternate;
  text-decoration: underline;
  color: rgb(150, 150, 150);
}

.footer-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  user-select: none;
  font-size: 0.9rem;
  color: #555555;
  bottom: 0;
  align-items: center;

  width: 100%;
}

@media (max-width: 425px) {
  #thread-logo {
    width: 400px;
    margin-left: 20px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes hover {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500;600&family=Inter:wght@400;500&display=swap");
